@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-absolute-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.float-bg {
  background: url("/float.svg");
  background-position: bottom 3px right;
  background-repeat: no-repeat;
}

/* ====== slick slider arrow ========= */
.slick-prev:before,
.slick-next:before {
  font-size: 35px !important;
  opacity: 0.45 !important;
}

/* ========= custom box shadow ======== */
.blog-shadow:hover {
  box-shadow: 0px 6px 50px -30px #c98bef;
}
